.rowDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.value {
    font-size: 0.95em;
}

.title {
    font-size: 0.8em;
}

.valueWithLink {
    font-size: 0.95em;
}


.tableTitle {
    margin-bottom: 15px;
    margin-left: 5px;
    white-space: nowrap;
}

.divRow {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}

.viewall {
    font-size: 0.8em;
}

.addrsInTable {
    font-size: 0.8em;
}

.hashTx {
    font-size: 0.9em;
}

.amountInTable {
    font-weight: bold;
    font-size: 0.8em;
    text-align: end;
    white-space: nowrap;
}

.dateInTable {
    font-size: 0.8em;
    white-space: nowrap;
}

.tableHeader {
    font-size: 0.8em;
    white-space: nowrap;
}