.dateTx {
    font-size: 0.6em;
    color: gray;
    white-space: nowrap;
}

.tx {
    padding: 3px;
    max-width: 40px;
    font-size: 0.6em;
    text-align: center;
    background-color: #dddddd;
}

.amount {
    padding: 5px;
    font-size: 0.7em;
    min-width: 10%;
    text-align: end;
    background-color: #eee;
    white-space: nowrap;
}

.tableHeader {
    font-size: 0.8em;
    white-space: nowrap;
}

.hashTx {
    font-size: 0.8em;
    color: green;
}

.addrsLabel {
    font-size: 0.7em;
    color: black;
}

.addrs {
    color: grey;
}

.addrsInTable {
    font-size: 0.7em;
    color: grey;
}

.amountInTable {
    padding: 5px;
    font-size: 0.7em;
    text-align: end;
    white-space: nowrap;
}

.subTitle {
    margin-left: 0.8em;
    color: gray;
}

.tableTitle {
    margin-top: 2em;
    margin-bottom: 15px;
    margin-left: 5px;
    color: gray;
}

.divRow {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}

.viewall {
    color: green;
    font-size: 0.8em;
}