.dateTx {
    font-size: 0.8em;
    color: gray;
}

.tx {
    padding: 10px;
    text-align: center;
    background-color: #dddddd;
}

.amount {
    padding: 10px;
    font-size: 0.8em;
    color: black;
    background-color: #eeeeee;
}


.hashTx {
    font-size: 1.2em;
    color: blue;
}

.addrsLabel {
    font-size: 0.8em;
    color: gray;
    width: 50px;
}

.addrs {
    font-size: 0.8em;
    color: black;
}

.subTitle {
    margin-left: 0.8em;
    color: gray;
}

.tableTitle {
    margin-top: 2em;
    margin-bottom: 15px;
    margin-left: 5px;
    color: gray;
}

.divRow {
    padding: 0.8em;
    border-bottom: 1px solid #dddddd;
}