.scCol {
    color: darkblue;
}

.rowDiv {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;
}

.value {
    color: grey;
    font-size: 0.95em;
}

.title {
    margin-top: 15px;
}