.validatorLabel {
    font-size: 12px;
    color: gray;
}

.validator {
    font-size: 12px;
    color: black;
}

.numTx {
    font-size: 12px;
    color: blue;
}

.lblTx {
    font-size: 12px;
    color: gray;
}


.dateTx {
    font-size: 12px;
    color: gray;
}


.heightBlock {
    font-size: 14px;
    color: blue;
}

.bk {
    padding: 10px;
    text-align: center;
    background-color: #dddddd;
}

.amount {
    font-size: 11px;
    color: black;
}

.subTitle {
    margin-left: 8px;
    color: gray;
}


.tableTitle {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: gray;
}