.validatorLabel {
    font-size: 0.7em;
    color: black;
}

.validator {
    color: gray;
}

.numTx {
    font-size: 0.8em;
    color: green;
}

.lblTx {
    font-size: 0.8em;
    color: gray;
}


.dateTx {
    font-size: 0.6em;
    color: gray;
}


.heightBlock {
    font-size: 0.85em;
    color: green;
}

.bk {
    padding: 5px;
    max-width: 40px;
    font-size: 0.7em;
    text-align: center;
    background-color: #dddddd;
}

.amount {
    padding: 10px;
    font-size: 0.75em;
    text-align: end;
    background-color: #eee;
}

.subTitle {
    margin-left: 0.8em;
    color: gray;
}


.tableTitle {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: gray;
}

.divRow {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dddddd;
}

.viewall {
    color: green;
    font-size: 0.8em;
}